.user {
  cursor: pointer;
  position: relative;
}

.user-profile div {
  display: flex;
  align-items: center;
  gap: 2;
}

.user-profile > div > p {
  font-size: 14px;
  color: rgb(177, 177, 177);
}

.user-dropdown {
  background-color: var(--dropdown-color);
  border-radius: var(--border-radius);
  border: 0.5px solid var(--border-color);
  width: 260px;
  z-index: 10;
  list-style: none;
  box-shadow: 2px 2px 9px 4px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 5rem;
  left: 1.2rem;
}

.user-dropdown > li:last-child {
  border: none;
}

.user-dropdown > li {
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.user-dropdown > li:hover {
  background-color: var(--primary-btn-color);
  cursor: pointer;
}
